# Data Scrapping - Static Data

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import json

In [9]:
df = pd.read_csv("C:/Users/corma/Desktop/Software Eng/dublin1.csv")

In [10]:
print(df.shape)
print(df.head(10))
print(df.tail(10))

(114, 7)
   Number                  Name               Address     Latitude  \
0      42      SMITHFIELD NORTH      Smithfield North    53.349562
1      30  PARNELL SQUARE NORTH  Parnell Square North  53.35374155
2      54        CLONMEL STREET        Clonmel Street    53.336021
3     108         AVONDALE ROAD         Avondale Road    53.359405
4      20     JAMES STREET EAST     James Street East    53.336597
5      56    MOUNT STREET LOWER    Mount Street Lower     53.33796
6       6    CHRISTCHURCH PLACE    Christchurch Place    53.343368
7      18       GRANTHAM STREET       Grantham Street    53.334123
8      32         PEARSE STREET         Pearse Street    53.344304
9      52      YORK STREET EAST      York Street East    53.338755

      Longitude  Unnamed: 5  Unnamed: 6
0     -6.278198         NaN         NaN
1  -6.265301448         NaN         NaN
2      -6.26298         NaN         NaN
3     -6.276142         NaN         NaN
4     -6.248109         NaN         NaN
5      -6.24153         NaN         NaN
6      -6.27012         NaN         NaN
7     -6.265436         NaN         NaN
8     -6.250427         NaN         NaN
9     -6.262003         NaN         NaN
     Number                        Name                     Address  \
104       3               BOLTON STREET               Bolton Street
105      40               JERVIS STREET               Jervis Street
106      29           ORMOND QUAY UPPER           Ormond Quay Upper
107     103  GRANGEGORMAN LOWER (SOUTH)  Grangegorman Lower (South)
108      28        MOUNTJOY SQUARE WEST        Mountjoy Square West
109      39              WILTON TERRACE              Wilton Terrace
110      83                  EMMET ROAD                  Emmet Road
111      92      HEUSTON BRIDGE (NORTH)      Heuston Bridge (North)
112      21       LEINSTER STREET SOUTH       Leinster Street South
113      88             BLACKHALL PLACE             Blackhall Place

      Latitude  Longitude  Unnamed: 5  Unnamed: 6
104  53.351182  -6.269859         NaN         NaN
105    53.3483  -6.266651         NaN         NaN
106  53.346057  -6.268001         NaN         NaN
107  53.354663  -6.278681         NaN         NaN
108  53.356299  -6.258586         NaN         NaN
109  53.332383  -6.252717         NaN         NaN
110  53.340714  -6.308191         NaN         NaN
111  53.347802  -6.292432         NaN         NaN
112   53.34218  -6.254485         NaN         NaN
113    53.3488  -6.281637         NaN         NaN